.productModal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.productModal-container {
    width: 550px;
    border-radius: 10px;
    background-color: #fff;
    color: var(--color-porcelain);
}

.productModal-title {
    display: inline-block;
    width: 100%;
    color: #535353;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid var(--color-porcelain);
    padding: 10px 0;
    margin: 20px 0;
}

.productModal-header, .productModal-body, .productModal-btns {
    margin: 0 25px;
}

.productModal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.productModal-body > img {
    height: auto;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
}

.productModal-body > p {
    text-align: justify;
}

.info-list, .spec-list {
    margin-top: 15px;
}

.info-list li::before, .spec-list li::before {
    content: '●';
    color: var(--color-mint);
    font-size: 25px;
    line-height: 20px;
    padding-right: 10px;
    margin-left: 15px;
}

.productModal-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid var(--color-porcelain);
    padding-top: 20px;
    margin: 20px 0;
}

.productModal-btns > button {
    place-self: end;
    margin-right: 10px;
}