.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.search-input {
    height: 42px;
    width: 50%;
    margin-right: 10px;
}

.search-btn {
    color: var(--color-snow);
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--color-mint);
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: var(--color-mint-dark);
}

.search-btn > img {
    height: 25px;
    rotate: 270deg;
}