@import url(./cores.css);

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--cor-11);
}

h1 {
    color: var(--cor-0);
    margin-bottom: 32px;
    font-size: 3rem;
    font-weight: 600;
}

h6 {
    font-size: 1.125rem;
    color: var(--cor-5);
}

.header-bg {
    background-color: var(--cor-12);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-check-label {
    font-size: 0.8rem;
    color: var(--cor-0);
}

.form-check-input {
    height: 20px;
    border: none;
    background-color: #fb1;
}

.form-check-input:checked {
    background-color: #06bc37;
    border-color: #06bc37;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

.form-check-input:focus {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

.btn-trocar {
    font-size: 0.8rem;
    color: var(--cor-12);
    background-color: var(--cor-0);
    border-radius: 4px;
    border: none;
    margin-left: 30px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    gap: 20px;
}

.header-menu li {
    list-style-type: none;
    font-size: 18px;
    cursor: pointer;
}

.header-menu a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--cor-0);
    padding: 16px 0px;
}

.header-menu a:hover::after {
    transform: scaleX(1);
}

.header-menu a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--cor-0);
    margin-top: 4px;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: 0.3s ease-out;
    position: absolute;
}

.main-bg {
    background: var(--cor-12);
    box-shadow: inset 0 -370px var(--cor-0);
    height: 100vh;
}

.content {
    align-self: end;
}

.content h1 {
    font-size: 4rem;
    line-height: 1.125;
}

.content h6 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.125;
}

.pb-200 {
    padding-bottom: 200px !important;
}

.text-yellow {
    color: var(--cor-p1);
}

#btn-active {
    display: inline-block;
    background: linear-gradient(#ffbf00, #f2a50c);
    color: var(--cor-p5);
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    max-width: max-content;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 16px 32px;
    position: relative;
}

#btn-active:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

.checked {
    background: linear-gradient(#06bc37, #049b2c) !important;
}

.checked:hover {
    background: linear-gradient(#05b434, #038325) !important;
}

.img-banner {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    padding-left: 0;
    width: 150px;
    height: 32px;
    display: block;
}

.footer-card {
    margin-left: 20px;
}

.footer-card h3 {
    color: var(--cor-0);
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 32px;
    margin-left: 31px;
}

.footer-card li {
    list-style-type: none;
    color: var(--cor-5);
    font-size: 18px;
    margin-bottom: 16px;
    cursor: pointer;
}

.footer-card a {
    color: var(--cor-5);
    text-decoration: none;
}

.footer-redes {
    margin-left: 31px;
}

.footer-redes a {
    margin-right: 32px;
}

.footer-redes img {
    margin-top: 30px;
}

.footer-copyright {
    font-size: 1.025rem;
    color: var(--cor-5);
    padding-left: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
}