@import url(./cores.css);

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--cor-11);
}

h1 {
    color: var(--cor-0);
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

h6 {
    font-size: 1.125rem;
    color: var(--cor-5);
}

.header-bg {
    background-color: var(--cor-12);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    gap: 20px;
}

.header-menu li {
    list-style-type: none;
    font-size: 18px;
    cursor: pointer;
}

.header-menu a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--cor-0);
    padding: 16px 0px;
}

.header-menu a:hover::after {
    transform: scaleX(1);
}

.header-menu a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--cor-0);
    margin-top: 4px;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: 0.3s ease-out;
    position: absolute;
}

.main-bg {
    background: var(--cor-12);
    box-shadow: inset 0 -310px var(--cor-0);
    height: 100vh;
}

.titulo-bg {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--cor-11);
}

.titulo {
    align-self: end;
}

.titulo p {
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--cor-5);
    margin-bottom: 4px;
}

.pb-200 {
    padding-bottom: 200px;
}

.contato-dados {
    border-radius: 5px 0 0 5px;
    background: var(--cor-12);
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados h2 {
    margin-bottom: 60px;
    color: var(--cor-0);
    font-size: 1.125rem;
}

.contato-endereco {
    color: var(--cor-4);
    font-size: 1rem;
    margin-bottom: 32px;
    padding-left: 28px;
    background: url('https://www.origamid.com/projetos/bikcraft/img/icones/local.svg') no-repeat 0px 2px;
}

.contato-email {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    padding-left: 28px;
    background: url('https://www.origamid.com/projetos/bikcraft/img/icones/email.svg') no-repeat 0px 2px;
}

.contato-email a, .contato-telefone a {
    color: var(--cor-4);
    font-size: 1rem;
    text-decoration: none;
}

.contato-telefone {
    margin-bottom: 60px;
    padding-left: 28px;
    background: url('https://www.origamid.com/projetos/bikcraft/img/icones/telefone.svg') no-repeat 0px 2px;
}

.contato-redes {
    display: flex;
    padding-left: 28px;
    gap: 32px;
}

.contato-form {
    border-radius: 0 5px 5px 0;
    background: var(--cor-0);
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form div {
    margin-bottom: 15px;
}

.form div:first-child {
    display: flex;
    gap: 20px;
}

.form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 4px;
}

.form input, .form textarea {
    background: var(--cor-1);
    border: 1px solid var(--cor-2);
    border-radius: 4px;
    padding: 12px;
    width: 100%;
}

.form input:focus, .form textarea:focus {
    background-color: var(--cor-0);
    border: 1px solid var(--cor-p1);
    outline: 2px solid #ffbf004d;
}

.form textarea {
    resize: vertical;
}

.text-yellow {
    color: var(--cor-p1);
}

.btn-active {
    display: inline-block;
    background: linear-gradient(#ffbf00, #f2a50c);
    color: var(--cor-p5);
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    max-width: max-content;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 16px 32px;
    position: relative;
}

.btn-active:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

.img-banner {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}