* {
    padding: 0;
    margin: 0;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title > h1 {
    text-align: center;
    margin: 5rem 0 3rem;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3rem solid #949494;
    border-radius: 1rem;
    margin: auto;
    padding: 1rem 4rem;
    height: 550px;
    background-color: #ededee;
}

.table > label {
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

.table > input {
    height: 1.3rem;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

.table > button {
    padding: 0.4rem 1rem;
}

#answer {
    margin-top: 1rem;
}

#answer > p {
    text-align: center;
    padding-top: 1rem;
}