a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar, .navbar-links ul, .navbar-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.navbar {
    justify-content: end;
    margin-top: 10px;
}

.navbar-links ul {
    padding-left: 10px;
    padding-right: 18px;
    gap: 13px;
}

.navbar-links li > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
}

.navbar-links li > a:hover {
    text-decoration: underline;
}

.navbar-images {
    gap: 8px;
}

#navbar-menu {
    height: 22px;
    width: 22px;
    padding: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    background-color: transparent;
    filter: invert(40%) sepia(6%) saturate(472%) hue-rotate(173deg) brightness(92%) contrast(86%);
}

#navbar-menu:hover {
    background-color: rgba(60, 64, 67, 0.08);    
    border: 5px solid rgba(60, 64, 67, 0.01);
}

#navbar-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 5px solid transparent;
    margin-right: 14px;
}

#navbar-avatar:hover {
    border: 5px solid rgba(60, 64, 67, 0.08);
}