@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

:root {
    /* ---- COLOR ---- */
    --gulf-blue: #2B345C;
    --columbia-blue: #CCD7E4;
    --bright-pink: #FF758F;
    --shuttle-grey: #5E656E;

    /* ---- FONT ---- */
    --font: 'Source Sans Pro', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    background-color: var(--columbia-blue);
    font-family: var(--font);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__title {
    margin-top: 6rem;
}

.content__title > h1 {
    color: var(--gulf-blue);
    font-size: 3.5rem;
    font-weight: 900;
}

.content__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.content__alarm {
    margin-top: 2rem;
}

#inputLabel,
#inputBirthday,
#inputButton {
    color: var(--shuttle-grey);
    margin-bottom: 1rem;
}

#inputBirthday {
    height: 2.9rem;
    width: 17rem;
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 0.6rem;
    background-color: white;
}

#inputBirthday:focus {
    outline: none;
}

#inputButton {
    height: 2.8rem;
    width: 9rem;
    margin-top: 1rem;
    border: none;
    border-radius: 1.3rem;
    background-color: var(--gulf-blue);
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
}

#alarmText {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bright-pink);
}


