@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;600;700&display=swap');

:root {
    --color-light-wewak: #FEF6F4;
    --color-mint: #97c1c0;
    --color-mint-dark: #87adac;
    --color-snow: #FFFDFF;
    --color-porcelain: #888888;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', Tahoma, Verdana, sans-serif;;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}