.contactForm-container {
    background: var(--color-white);
    border-radius: 20px;
    padding: 30px 20px;
    margin: 16px 25px;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}

.contactForm-title, .contactForm-form {
    color: var(--color-porcelain);
}

.contactForm-form input, #message {
    color: #5a5a5a;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    outline: none;
}

.contactForm-form > div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}

.contactForm-form > button {
    color: var(--color-snow);
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--color-mint);
    border: none;
    border-radius: 10px;
    padding: 13px 20px 11px;
    margin-top: 20px;
    cursor: pointer;
}

.contactForm-form > button:hover {
    background-color: var(--color-mint-dark);
}

.contactForm-title {
    margin-bottom: 15px;
}

.contactForm-field {
    display: grid;
    border: none;
    width: 100%;
}

.contactForm-label {
    margin: 10px 0;
}

#name, #telephone, #email {
    text-indent: 10px;
    height: 35px;
}

#message {
    font-size: 0.85rem;
    padding: 13px 10px;
}

#character-counter > span {
    font-size: 0.85rem;
    text-align: right;
    padding-top: 10px;
    width: 100%;
}